body {
    background-color: #657371;
    color: #EAEEED;
    font-family: "Poppins", sans-ser;
    font-size: 1.1em;
    text-align: center;
    margin: 0 auto;
}

/* =================
    navigation
   ================= */

#navigation {
    background-color: #657371;
    position: fixed;
    top: 0;
    width: 100%;
}

#navigation ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
    padding: 0;
    margin: 0.5em auto;
}

#navigation ul li {
    background-color: #0B3E5B;
    padding: 0.6em 2.5em;
    border: 0.25em double #EAEEED;
    border-radius: 60%;
    box-shadow:
        inset 0.07em 0.07em 0.17em #EAEEED,
        0.13em 0.13em 0.25em #EAEEED;
}

#navigation ul li a {
    color: #EAEEED;
    font-style: italic;
    text-decoration: none;
}

#navigation ul li:hover {
    background-color: #657371;
    border: 0.25em double #0B3E5B;
    box-shadow: 
        inset 0.07em 0.07em 0.17em #0B3E5B,
        0.13em 0.13em 0.25em #0B3E5B;
}

#navigation ul li:hover a {
    color: #0B3E5B;
    text-shadow: none;
}

/* =================
    main content
   ================= */

#profile-picture {
    border: 0.4em double #0B3E5B;
    border-radius: 10%;
    box-shadow: 0.3em 0.3em 0.5em #EAEEED;
    margin: 1em auto;
}

#about,
#experience,
#skills,
#projects,
#connect {
    margin: 7em 10em;
    padding: 0;
}

h1 {
    padding-top: 1.5em;
    margin-top: 1em;
    margin-bottom: 1.5em;
    font-size: 3em;
    color:#0B3E5B;
    text-shadow: 0.01em 0.01em 0.1em #EAEEED;;
}

h2 {
    background-color: #0B3E5B;
    font-size: 2em;
    margin-top: 1.5em;
    margin-bottom: 1.5em;
    color:#EAEEED;
    border: 0.25em double #EAEEED;
    border-radius: 70%;
    box-shadow: 
    inset 0.01em 0.01em 0.17em #EAEEED,
        0.1em 0.1em 0.25em #EAEEED;
    padding: 0.3em
}

p {
    margin: 1em 2em;
    padding: 1.5em;
}
#experience li {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    color: #EAEEED;
    border-bottom: 0.4em double #0B3E5B;
    padding: 1em;
}

.job-details {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    grid-gap: 0.3em;

}

.place {
    grid-column: 1 ;
    grid-row: 1;
    justify-self: start;
}

.dates {
    grid-column: 1;
    grid-row: 2;
    justify-self: start;
}

.title {
    grid-column: 2;
    grid-row: 1 / -1;
    align-self: center;
    justify-self: end;
    font-style: italic;
}

#connect ul {
    width: auto;
    display: grid;
    grid-template-columns: repeat(3, 3em);
    justify-content: center;
    padding-top: 1em;
    padding: 0;
    list-style: none;

}

/* =================
    icons
   ================= */

a {
    color: #0B3E5B;
}

.fa-brands {
    font-size: 1.5em;
    box-shadow: 0.07em 0.07em 0.17em #EAEEED;
}

.fa-github {
    border-radius: 50%;
}
.fa-linkedin {
    border-radius: 10%;
}
.fa-instagram {
    border-radius: 20%;
}

footer {
    margin: 5em 10em ;
}

/* ==================================
    media queries for mobile devices
   ================================== */

   @media (max-width: 768px) {

    body {
        font-size: 1em;
    }

    #navigation ul {
        padding: 0;
        margin: 1em 0;

    }
    #navigation ul li {
        padding: 0.5em 1em;
        margin-bottom: 0.5em;
        width: 100%; 
        text-align: center; 
    }

    #navigation ul li a {
        font-size: 1em; 
    }

    #about,
    #experience,
    #skills,
    #projects,
    #connect {
        margin: 2em 1em;
    }

    h1 {
        font-size: 2em;
    }

    h2 {
        font-size: 1.5em;
        padding: 0.2em;
    }

    p {
        margin: 1em;
        padding: 1em;
    }

    footer {
        margin: 2em 1em ;  
    }
}

/* ==================================
    media queries for tablets
   ================================== */

@media (max-width: 1024px) {
    body {
        font-size: 1em;
    }

    #navigation ul li {
        padding: 0.5em 1em;
        margin-bottom: 0.5em;
        width: 100%;
        text-align: center;
    }

    #about,
    #experience,
    #skills,
    #projects,
    #connect {
        margin: 5em 3em;
    }

    h1 {
        font-size: 2.5em;
    }

    h2 {
        font-size: 1.5em;
    }
}